<!DOCTYPE html>
<head th:insert="~{fragments/head}"></head>
<body>
    <header th:insert="~{fragments/header}"></header>
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="border p-3">
                    <img th:src="'/images/' + ${model.photoPropertyUrl}" alt="Фотография жилья" class="img-fluid">
                </div>
            </div>
            <div class="col-md-5">
                <div class="border p-3">
                    <div class="mb-2">
                        <strong>Количество комнат:</strong> <span th:text="${model.rooms}">-</span>
                    </div>
                    <div class="mb-2">
                        <strong>Площадь:</strong> <span th:text="${model.square} + ' м²'">- м²</span>
                    </div>


                    <div class="mb-3">
                        <div class="d-flex align-items-center">
                            <img th:src="'/images/' + ${model.photoAgentUrl}" alt="Agent Icon" class="rounded-circle me-2" style="width: 30px; height: 30px; object-fit: cover;">
                            <a th:href="@{/agents/top}" th:text="${model.nameAgent}">-</a>
                        </div>
                    </div>
                    <h3 class="text-primary" th:text="'Цена: ' + ${model.price} + ' ₽'">- ₽</h3>
                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Позвонить</button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body" th:text="${model.phoneAgent}">-</div>
                        </div>
                        <button class="btn btn-secondary">Написать</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="border p-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong>Площадь:</strong> <span th:text="${model.square} + ' м²'">-- м²</span>
                        </div>
                        <div>
                            <strong>Этаж:</strong> <span th:text="${model.floor}">-</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <strong>Адрес:</strong> <span th:text="'г. ' + ${model.city} + ', ул. ' + ${model.street} + ', ' + ${model.houseNumber}">-</span>
                    </div>
                    <div class="mt-2">
                        <strong>Расстояние до центра:</strong> <span th:text="${model.distanceToCenter} + ' км'">- км</span>
                    </div>
                    <div class="mt-2">
                        <strong>Рейтинг:</strong> <span th:text="${model.rating}">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Отзывы</h3>
                <div class="border p-3 mb-3" th:each="review : ${model.reviewList}">
                    <p><strong th:text="${review.name} + ':'"></strong></p>
                    <p th:text="${review.comment}">-</p>
                    <div class="rating" style="color: #ffc107">
                        <strong th:text="'Оценка: ' + ${review.propertyRating}">-</strong>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
