<!DOCTYPE html>
<html lang="ru">
<head th:insert="~{fragments/head}"></head>
<body>
<header th:insert="~{fragments/header}"></header>

<main class="container">
  <h5>Создать агента</h5>
  <form class="d-flex flex-column align-items-center" method="post" th:action="@{/admin/agent/create}" th:object="${form}">
    <div class="mb-3 w-50">
      <label for="firstName" class="form-label fw-bold">Имя</label>
      <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Введите имя">
      <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="lastName" class="form-label fw-bold">Фамилия</label>
      <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Введите фамилию">
      <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="middleName" class="form-label fw-bold">Отчество</label>
      <input type="text" class="form-control" id="middleName" th:field="*{middleName}" placeholder="Введите отчество">
      <small th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="phone" class="form-label fw-bold">Телефон</label>
      <input type="text" class="form-control" id="phone" th:field="*{phone}" placeholder="Введите телефон">
      <small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="email" class="form-label fw-bold">Email</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Введите email">
      <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="password" class="form-label fw-bold">Пароль</label>
      <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Введите пароль">
      <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error message</small>
    </div>
    <div class="mb-3 w-50">
      <label for="photoUrl" class="form-label fw-bold">Фото URL</label>
      <input type="text" class="form-control" id="photoUrl" th:field="*{photoUrl}" placeholder="Введите URL фото">
      <small th:if="${#fields.hasErrors('photoUrl')}" th:errors="*{photoUrl}" class="text-danger">Error message</small>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
